.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.flexbox {
  display: flex;
  max-width: 768px;
  min-height: 500px;
  overflow: hidden;
  padding: 20px;
  margin: auto;
}

.flexbox .list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  background-color: #eeeded;
  padding: 16px;
  position: relative;
}

.flexbox .list .card {
  background-color: #4885ed;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 4px;
  color: white;
}

.flexbox h3 {
  user-select: none;
  margin-bottom: 16px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.description {
  font-size: 12px;
}

.flexbox .list:not(:last-child) {
  margin-right: 24px;
}

button {
  padding: 8px;
  user-select: none;
  border: 1px dashed #e0e0e0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

button:active {
  background-color: #f0f0f0;
}
.modal {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}
.modal .modal-content .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal button {
  margin: 0 20px;
  border: none;
}
.modal button:not(:last-child) {
  background-color: #4caf50;
}
.modal button:last-child {
  background-color: #f44336;
}
.container .title {
  margin-right: 10px;
}

input[type="text"],
textarea,
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.add {
  padding: 8px;
  -webkit-user-select: none;
  user-select: none;
  border: 1px #e0e0e0;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #4885ed;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
